.movies__container {
  display: flex;
  justify-content: center;
  margin: 76px 0 80px;
}

.movies__button_type_more {
  cursor: pointer;
  width: 320px;
  height: 38px;
  background-color: #202020;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  border: 1px solid #424242;
  transition: opacity 0.2s linear;
}
.movies__button_type_more:hover {
  opacity: 0.8;
}

.movies__button_type_hidden {
  display: none;
}

@media screen and (max-width: 1023px) {
  .movies__container {
    margin: 65px 0 98px;
  }
}

@media screen and (max-width: 767px) {
  .movies__button_type_more {
    width: 240px;
    height: 36px;
  }
}
